language: python

python:
    - "3.6"

before_install:
  - sudo apt-get -y install libopenmpi-dev
  - "python setup.py install"

install: pip install -r requirements.txt

script: python3 src/init_tgraank.py -f data/DATASET.csv
